/* Normalize */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    writing-mode: horizontal-tb;
    color: #f5f0ed;
}



/* normalizar los enlaces para que no tengan estilos y un color especifico */


ol, ul {
    list-style: none;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}



/* Estilos generales ----------*/
.section__Home{
    display: grid;
    grid-template: repeat(3, 1fr) 80vh repeat(2, 40vh) 1fr 20vh / repeat(2, 1fr);
    grid-template-areas:
    "header           header"
    "header           header"
    "presentacion-1   presentacion-2"
    "desayuno         desayuno"
    "degustaciones-1  degustaciones-2"
    "degustaciones-3  degustaciones-4"
    "contacto         ubicacion"
    "footer           footer";
}

/* Declaraciones de la seccion de header y su contenido...*/
.section__NavBar{
    background-image: url(../image/Fondo1.jpg);
    background-size: cover;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: 60px repeat(1,1fr) ;
    grid-template-areas: 
    "navBar    navBar"
    "contenido contenido";
    height: 100vh;
    min-height: 100%;
}
.navBar{
    grid-area: navBar;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.navBar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: max-content;
}
.navBar ul li{
    margin: 10px;
}


/* ____________________________________________________________________ */

/* Declaracion del contenedor principal y su contenido... */
.contenido{
    grid-area: contenido;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}
.contenido h1{
    font-size: 4vw;
}
.contenido div{
    width: 10vh;
    height: 3px;
    background-color: white;
}
.contenido p{
    width: 60%;
}


/* _____________________________________________________________________ */


.container-1{
    grid-area: presentacion-1;
    background-color: #d03b40;
    color: #f5f0ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-1 h2{
    font-size: 2vw;
    width: 40%;
    margin: 1rem 0;
    text-align: center;
}
.container-1 p{
    width: 80%;
    text-align: center;
}


/* __________________________________________________________________________ */

.container-2{
    grid-area: presentacion-2;
    background-color: #ded6c0;
    color: #d03b40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-2 h2{
    font-size: 2vw;
    width: 50%;
    margin: 1rem 0;
    text-align: center;
}
.container-2 p{
    width: 80%;
    text-align: center;
}



/* ___________________________________________________________________________ */

.desayuno{
    background-image: url(../image/Fondo2.jpg);
    background-size: cover;
    grid-area: desayuno;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desayuno h2{
    font-size: 4vw;
    margin: 1rem;
}
.desayuno div{
    margin: 1rem;
    width: 10vh;
    height: 3px;
    background-color: white;
}
.desayuno p{
    margin: 1rem;
    text-align: center;
}
.desayuno .bottom{
    margin: 2rem;
    padding: 1rem;
    border: 3px solid white;
}


/* _________________________________________________________________________ */
.degustaciones-1{
    grid-area: degustaciones-1;
    background-color: #f5f0ed;
    color: #3c3c3b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
}
.degustaciones-2{
    grid-area: degustaciones-2;
    background-color: #f5f0ed;
    color: #3c3c3b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
}
.degustaciones-3{
    grid-area: degustaciones-3;
    background-color: #f5f0ed;
    color: #3c3c3b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
    
}
.degustaciones-4{
    grid-area: degustaciones-4;
    background-color: #f5f0ed;
    color: #3c3c3b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
}

/* _____________________________________________________________________________ */

.contacto{
    grid-area: contacto;
    background-color: #ded6c0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
}
.contacto h2{
    font-size: 2vw;
}



/* ______________________________________________________________________________ */
.ubicacion{
    grid-area: ubicacion;
    background-color: #d03b40;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
}
.ubicacion h2{
    font-size: 2vw;
    margin-bottom: 1rem;
}


/* ___________________________________________________________________________________ */
.footer{
    grid-area: footer;
    background-color: #3c3c3b;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

@media (max-width:1000px) {
    .section__Home{
        display: grid;
        grid-template: repeat(4, 1fr)  80vh repeat(4, 40vh) repeat(2,1fr)  20vh / repeat(1, 100%);
        grid-template-areas:
        "header"
        "header"
        "presentacion-1 "
        "presentacion-2 "
        "desayuno "
        "degustaciones-1"
        "degustaciones-2"
        "degustaciones-3"
        "degustaciones-4"
        "contacto"
        "ubicacion"
        "footer";
    }

    .degustaciones-1{
        grid-area: degustaciones-1;
        background-color: #f5f0ed;
        color: #3c3c3b;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem;
    }
    .degustaciones-2{
        grid-area: degustaciones-2;
        background-color: #f5f0ed;
        color: #3c3c3b;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem;
    }
    .degustaciones-3{
        grid-area: degustaciones-3;
        background-color: #f5f0ed;
        color: #3c3c3b;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem;
        
    }
    .degustaciones-4{
        grid-area: degustaciones-4;
        background-color: #f5f0ed;
        color: #3c3c3b;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem;
    }
}