/* Normalize */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    writing-mode: horizontal-tb;
    color: #f5f0ed;
}



/* normalizar los enlaces para que no tengan estilos y un color especifico */


ol, ul {
    list-style: none;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}



/* Estilos generales ----------*/
.section__Home{
    padding: 1em;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(2, 1fr);
    grid-template-areas:
    "header           header"
    "header           header"
    "presentacion-1   presentacion-2"
    "desayuno         desayuno"
    "degustaciones-1  degustaciones-2"
    "degustaciones-3  degustaciones-4"
    "contacto         ubicacion"
    "footer           footer";
    grid-gap: 20px;
}

/* Declaraciones de grid*/
.section__NavBar{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: 60px repeat(1,1fr) ;
    grid-template-areas: 
    "navBar    navBar"
    "contenido contenido";
    background-color: blue;
    height: 100vh;
}
.navBar{
    grid-area: navBar;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.navBar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
}
.container__Principal{
    grid-area: container__Pincipal;
    background-color: red;
}

/* ------------------------------------------------------------------ */

.container-2{
    grid-area: presentacion-1;
    background-color: green;

}
.container-3{
    grid-area: presentacion-2;
    background-color: purple;

}
.desayuno{
    grid-area: desayuno;
    background-color: gray;

}
.degustaciones-1{
    grid-area: degustaciones-1;
    background-color: orange;
}
.degustaciones-2{
    grid-area: degustaciones-2;
    background-color: orange;
}
.degustaciones-3{
    grid-area: degustaciones-3;
    background-color: red;
}
.degustaciones-4{
    grid-area: degustaciones-4;
    background-color: orange;
}
.contacto{
    grid-area: contacto;
    background-color: blue;
}
.ubicacion{
    grid-area: ubicacion;
    background-color: red;
}
.footer{
    grid-area: footer;
    background-color: black;
}

